rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    // Posts can be read by anyone, but only created, updated,
    // or deleted by an authenticated user.
    match /posts/{postId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // Site config can be read by anyone, but only written by an admin.
    match /siteConfig/{configId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // Analytics events can be created by anyone, but only read by an admin.
    match /analyticsEvents/{eventId} {
      allow create: if true;
      allow read, write: if isSignedIn();
    }
  }
}
