

.container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  --primary-hsl: hsl(var(--primary));
}

.wghSlider {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.wghSliderViewport {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wghSliderViewbox {
  display: block;
  position: relative;
  perspective: 100vw;
  margin: 0 auto;
  width: 33.333333%;
  max-width: 280px;
  transform-style: preserve-3d;
  z-index: 0;
}

.wghSliderViewbox::before {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.wghSliderTarget {
  display: none;
}

.wghSliderContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.wghSliderItem {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.wghSliderItemInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: scale(0.8) rotateY(0);
  transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.wghSliderItemFigure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wghSliderItemFigureImage {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
}

.wghSliderItemFigureCaption {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 1rem;
  background-image: linear-gradient(0deg, #000 0%, transparent 100%);
  z-index: 2;
  transition: opacity 0.3s;
}

.wghSliderItemFigureCaption a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
}

.wghSliderItemFigureCaption span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
  opacity: 0.8;
}

.wghSliderItemTrigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}


/* Dynamic styles based on state */

.wghSliderItem {
  --offset: calc(var(--active) - var(--i));
  --abs-offset: max(var(--offset), -var(--offset));
  --direction: calc(var(--offset) / var(--abs-offset));
  --opacity: calc(1 - (var(--abs-offset) / var(--total) * 1.5));
  --z-index: calc(var(--total) - var(--abs-offset));
  --x-transform: calc(var(--offset) * 50%);
  --y-rot: calc(var(--offset) * 45deg);

  transform: translateX(var(--x-transform)) translateZ(calc(var(--abs-offset) * -150px)) rotateY(var(--y-rot));
  opacity: var(--opacity);
  z-index: var(--z-index);
}


.wghSliderTarget:checked ~ .wghSliderViewport .wghSliderContainer .wghSliderItem .wghSliderItemInner {
    transform: scale(0.8) rotateY(0);
}

/* Checked state */
.wghSliderTarget:checked ~ .wghSliderViewport .wghSliderContainer .wghSliderItem.active-slide .wghSliderItemInner {
   transform: scale(1) rotateY(0) !important;
   transition-delay: 0.1s;
   box-shadow: 0 0 30px 5px var(--primary-hsl);
}

.wghSliderTarget:checked ~ .wghSliderViewport .wghSliderContainer .wghSliderItem.active-slide .wghSliderItemFigureCaption {
    opacity: 1;
}

.wghSliderItem:not(.active-slide) .wghSliderItemFigureCaption {
    opacity: 0;
}
