@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 204 18% 98%;
    --foreground: 221 78% 13%;
    --card: 0 0% 100%;
    --card-foreground: 221 78% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 78% 13%;
    --primary: 40 31% 50%;
    --primary-foreground: 204 18% 98%;
    --secondary: 213 27% 40%;
    --secondary-foreground: 204 18% 98%;
    --muted: 208 22% 71%;
    --muted-foreground: 213 27% 30%;
    --accent: 33 56% 75%;
    --accent-foreground: 221 78% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 208 22% 85%;
    --input: 208 22% 85%;
    --ring: 40 31% 50%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 221 78% 10%;
    --foreground: 204 18% 90%;
    --card: 221 78% 13%;
    --card-foreground: 204 18% 90%;
    --popover: 221 78% 10%;
    --popover-foreground: 204 18% 90%;
    --primary: 40 31% 50%;
    --primary-foreground: 221 78% 10%;
    --secondary: 213 27% 40%;
    --secondary-foreground: 204 18% 90%;
    --muted: 213 27% 25%;
    --muted-foreground: 208 22% 60%;
    --accent: 33 56% 75%;
    --accent-foreground: 221 78% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 27% 25%;
    --input: 213 27% 25%;
    --ring: 40 31% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .mask-gradient {
        -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }
    .hover\:pause:hover {
        animation-play-state: paused;
    }
}